@model API.Models.RusEstViewModel
<div class="row">
    @using (Html.BeginForm("CreateRusEst", "Admin", FormMethod.Post, new { @class = "col s12" }))
    {
        <div class="row">
            <div class="input-field col s12 m5">
                <select name="IdWordRus">
                    <option value="" disabled selected>Choose russian word</option>
                    @foreach (var item in ViewBag.WordRus)
                    {
                        <option value="@item.IdWord">@item.Word</option>
                    }
                </select>
                <label>Russian word</label>
            </div>
            <div class="input-field col s1 m1 center-align" style="margin-top: 26px;">
                or
            </div>
            <div class="input-field col s11 m6">
                <input id="newWord" type="text" class="validate" placeholder="Type new word" disabled>
                <label for="newWord">Add new word</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m5">
                <select name="IdWordEst">
                    <option value="" disabled selected>Choose estonian word</option>
                    @foreach (var item in ViewBag.WordEst)
                    {
                        <option value="@item.IdWord">@item.Word</option>
                    }
                </select>
                <label>Estonian word</label>
            </div>
            <div class="input-field col s1 m1 center-align" style="margin-top: 26px;">
                or
            </div>
            <div class="input-field col s11 m6">
                <input id="newWord2" type="text" class="validate" placeholder="Type new word" disabled>
                <label for="newWord2">Add new word</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <select id="IdCategory" name="IdCategory">
                    <option value="" disabled selected>Choose subcategory</option>
                    @foreach (var item in ViewBag.Subs)
                    {
                        <option value="@item.IdSubcategory">@item.Subcategoryname</option>

                    }
                </select>
                <label>Select subcategory</label>

            </div>
            <div class="input-field col s12 m6">
                <select name="IdPart">
                    <option value="" disabled selected>Choose part of speech </option>
                    @foreach (var item in ViewBag.Parts)
                    {
                        <option value="@item.IdPart">@item.Partname</option>
                    }
                </select>
                <label>Select part of speech</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="example" name="example" class="materialize-textarea" placeholder="Input word usage example or description"></textarea>
                <label for="example">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6 center-align">
                <button class="btn waves-effect  grey darken-1" onclick="this.form.reset()">Clear</button>
            </div>
            <div class="input-field col s12 m6 center-align">
                <button class="btn waves-effect  light-blue darken-3" type="submit">Add word</button>
            </div>
        </div>

    }
</div>
